@model EmployeeAppModels.BlogPost.BlogPostModel
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 bg-light bg-danger">
                <h1>Blog Posts</h1>
            </div>
            <div class="col-12">
                <dl>
                    @if (Model.BlogPostListView != null)
                    {
                        @foreach (var post in Model.BlogPostListView)
                        {
                            <dt class="h5">
                                @post.title
                            </dt>
                            <hr />
                            <dd class="ms-5 mb-2">
                                @post.body
                            </dd>
                        }
                    }
                    else
                    {
                        <dt>No blog posts available.</dt>
                    }
                </dl>
                
            </div>
        </div>
    </div>
</div>