@model EmployeeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="container">
        <form method="post">
            <div class="row">
                <input type="hidden" id="hdnEmployeeID" asp-for="EmployeeID" />
                <div class="col-3">
                    <label class="form-label">Employee Name</label>
                    <input type="text" class="form-control" asp-for="EmployeeName"/>
                </div>
                <div class="col-3">
                    <label class="form-label">Mobile num</label>
                    <input type="text" class="form-control" asp-for="MobileNum" />
                </div>
                <div class="col-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="EmailID" />
                </div>
                <div class="col-3">
                    <label class="form-label">Date of birth</label>
                    <input type="date" class="form-control" id="txtDob" asp-for="DOB" />
                </div>
                <div class="col-3">
                    <label class="form-label">Gender</label>
                    <input type="text" class="form-control" id="txtGender" asp-for="Gender" />
                </div>
                <div class="col-3">
                    <label class="form-label">Place</label>
                    <input type="text" class="form-control" id="txtPlace" asp-for="Place" />
                </div>
                <div class="col-3">
                    <label class="form-label">Department</label>
                    <input type="text" class="form-control" id="txtPlace" asp-for="Department"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <input type="submit" class="btn btn-success" value="submit" />
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-success table-borderless table-hover">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Mobile No:</td>
                                <td>Email</td>
                                <td>Date of birth</td>
                                <td>Gender</td>
                                <td>Place</td>
                                <td>Department</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
